@font-face {
    font-family: "ShermanSerif";
    src: url("https://assets.syracuse.edu/fonts/shermanserif-book.woff2") format("woff2"),
     url("https://assets.syracuse.edu/fonts/shermanserif-book.woff") format("woff"),
     url("https://assets.syracuse.edu/fonts/shermanserif-book.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}
@font-face {
    font-family: "ShermanSerif";
    src: url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff2") format("woff2"),
     url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff") format("woff"),
     url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
   }

header {
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    text-align: center;
    background-color: #bcbcbc;
    padding: 8px;
    
}

body {
    background-color: #eeeeee;
    color: #000000;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

h3 {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

section {
    margin: 12px;
    opacity: 24dp;
}

section.bottom-border {
    border-bottom-style: solid;
    margin: 12px;
    opacity: 24dp;
}

li {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    list-style-type: square;
}

span.date {
    float: right;
}

span.syracuse {
    font-family: ShermanSerif, Georgia, serif;
    font-weight: normal;
    font-style: normal;
    color: #f76900;
}

a {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.sidebar{
    height: 100%;
    width: 200px;
    padding: 12px 16px;
    background-color: #eeeeee;
    position:fixed;
    z-index: 1 ;
    overflow: auto;
}

.page-container {
    width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.col-3 {
    flex: 3;
}