* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

header.jumbotron{
    background-color: #ccc;
    margin: 1em;
    padding: 2em;
    widows: 90%;
    height: 5em;
    background-image: url(./images/silhouette.png);
    background-position-x: 90%; 
    background-repeat: no-repeat; 
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: orange;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #666;
}

h2.job-title {
    font-size: 0.8em;
}

header.first-job {
    background-image: url(./images/company-name-1.png);
    background-position-x: 90%; 
    background-repeat: no-repeat; 
}

h3 {
    font-size: 0.8em;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

h4 {
    font-size: 0.4em;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

p.job-description {
    
}