@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
    background-color: #cccccc;
    padding: 1em;
    margin: 1em;
}

img {
    width: 100%;
    height: auto;
}
  
header {
    background-color: #333333;
    color: #ffffff;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 1em 16em;
}

div.header {
    padding: 5px;
}

div.header p {
    margin: 0;
}

div.header h1 {
    margin: 5px 0;
}
